<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="<%= stylesheet %>" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script
			src="https://kit.fontawesome.com/ca8f2ee00f.js"
			crossorigin="anonymous"
		></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Comfortaa:wght@300&family=Dancing+Script&family=Lato:wght@100&family=Montserrat:wght@100;200&family=Mukta:wght@200&family=Permanent+Marker&family=Poppins:wght@200&family=Source+Sans+3&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<%- include('../partials/navbar') %>
		<main><%- body %></main>
	</body>
</html>
