.proj-container{
  margin: 30px;
  width: 76%;
  padding: 20px 2%;
  background-color: white;
}

.proj-container p {
  font-family: Mukta, sans-serif;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 10px;
}

.button.more{
  background-color:skyblue;
  color: white;
  float: right;
  transition: all 200ms ease 100ms;
}

.button.more:hover{
  border: 5px solid transparent;
  transition: all 300ms ease 0s;
}