
<style>
  body{
    background-color: whitesmoke;
  }
  form{
    width: 500px;
    margin: 40px auto;
    border: 1px solid lightgray;
    padding: 30px 50px;
    background-color: white;
  }

  .form-control{
    display: flex;
    width: 100%;
    flex-direction:column;
    margin: 20px 0px;
  }

  .form-control label{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    margin-bottom: 8px;
  }

  .form-control input{
    display: block;
    width: 50%;
    outline: none;
    border: 0.1px solid lightgray;
    height: 25px;
    border-radius: 3px;
  }

  .btn-container{
    margin-top: 20px;
    text-align: right;
  }

  .btn-container button{
    width: 100px;
    height: 40px;
    outline: none;
    background-color: dodgerblue;
    border: 0.1px solid gray;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.233);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 300ms ease 0s;
    cursor: pointer;
  }

  .divider{
    width: 100%;
    margin: 0px auto;
    outline: none;
    border: none;
    height: 1px;
    background-image: linear-gradient(60deg, dodgerblue,rgba(0, 0, 0, 0.295),ivory);
  }

  .btn-container:hover button{
    transform: translateY(-7px);
  }
   
</style>


<div class="form-container">
  <form action="/projects/project-forms/add" method="post">

    <div class="form-control">
      <label for="project_title">Project Title</label>
      <input type="text"  id="project_title" name="project_title">
    </div>

    <div class="form-control">
      <label for="project_description">Project Description</label>
      <input type="text"  id="project_description" name="project_description">
    </div>

    <div class="form-control">
      <label for="start_dt">Project Start Date</label>
      <input type="datetime-local" id="start_dt" name="start_dt">
    </div>

    <div class="form-control">
      <label for="due_dt">Project Due Date</label>
      <input type="datetime-local" id="due_dt" name="due_dt">
    </div>

    <hr class="divider">

    <div class="btn-container">
      <button type="submit">Submit</button>
      
    </div>
  </form>
</div>


